<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @dossier.title %>
</p>

<p>
  <strong>Template:</strong>
  <%= @dossier.template %>
</p>

<%= link_to 'Edit', dossier_sheets_path(@dossier) %> |
<%= link_to 'Back', dossiers_path %>
