<%= form_for([@dossier, sheet]) do |f| %>
  <% if sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sheet.errors.count, "error") %> prohibited this sheet from being saved:</h2>

      <ul>
      <% sheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_area :title %>
  </div>

  <div class="field">
    <%= f.label :template %>
    <%= f.text_area :template %>
  </div>

  <div class="field">
    <%= f.label :dossier_id %>
    <%= f.text_field :dossier_id %>
  </div>


  <div class="field">
    <%= f.label :markup %>
    <%= link_to "Add Item of Interest Block", block_template_path(:type => 'top_ioi'), :remote => true %>
    <%= link_to "Add Three Column Block", block_template_path(:type => 'three_column'), :remote => true %>

    <div id="blocks-area">
      <%= raw sheet.markup %>
    </div>
    <%= f.hidden_field :markup, value: sheet.markup %>
  </div>

  <div class="actions">
    <%= f.submit onclick: "customSubmit(event)" %>
  </div>
<% end %>
