<p id="notice"><%= notice %></p>
<%= javascript_include_tag :sheets %>

<h1><%= @dossier.title %> Sheets</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sheets.each do |sheet| %>
      <tr>
        <td><strong><%= sheet.template %></strong></td>
        <td><%= link_to 'Show', preview_template_path(@dossier, sheet.template) %></td>
        <td><%= link_to 'Edit', edit_dossier_sheet_path(@dossier, sheet) %></td>
        <td><%= link_to 'Destroy', [@dossier, sheet], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sheet', new_dossier_sheet_path(@dossier) %>
<!--
<h1> Automation </h1>

<a href="#" id="get-tweets" onclick="showTweetData(event)" class="btn btn-default">Get Tweet Data</a>
<pre class="code-zone"></pre>
<%= link_to "Render as content", block_template_path(:type => 'three_column'), :remote => true %>
<div id="blocks-area" class="index"></div> -->
