<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sheet.title %>
</p>

<p>
  <strong>Template:</strong>
  <%= @sheet.template %>
</p>

<p>
  <strong>Dossier:</strong>
  <%= @sheet.dossier %>
</p>

<%= link_to 'Edit', edit_dossier_sheet_path(@dossier, @sheet) %> |
<%= link_to 'Back', dossier_sheets_path(@dossier) %>
