<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @section.type %>
</p>

<p>
  <strong>String:</strong>
  <%= @section.string %>
</p>

<p>
  <strong>Title:</strong>
  <%= @section.title %>
</p>

<p>
  <strong>String:</strong>
  <%= @section.string %>
</p>

<p>
  <strong>Sheet:</strong>
  <%= @section.sheet %>
</p>

<p>
  <strong>References:</strong>
  <%= @section.references %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
